*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: 'tahoma',sans-serif;
  background-size: cover;
  background-position: top center;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://www.almanac.com/sites/default/files/image_nodes/rainbow-weather.jpg");
  background-size: 1539px 722px;
}

header{
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px 15px;
}

header input{
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border:none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
}

header input:focus{
  background-color: rgba(255, 255, 255,0.6);
}

header input::placeholder{
  color:rgba(255, 255, 255,0.6);
}

main{
  flex: 1 1 100%;
  padding: 25px 25px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.weather-icon{
	display: none
}

.location .city{
  color: #fff;
  font-size:32px;
  font-weight: 500;
  margin-bottom: 5px;
}

.location .date{
  color:#fff;
  font-size: 16px; 
}

.current .temp{
  color:#fff;
  font-size: 102px;
  font-weight: 900;
  margin: 10px 0px;
}

.current .temp span{
  font-weight: 500;
}

.current .description{
  color:#fff;
  text-transform: capitalize;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 5px;
}